GITLAB_IMAGE=gitlab/gitlab-ee:latest

# Change it according to your PORT
HTTP_PORT=8013
SSL_PORT=4443
SSH_PORT=2222

# SERVER LEVEL CONFIG
# HOSTNAME=git.developernoob.com
# EXTERNAL_URL=https://git.developernoob.com