# Ignore Docker-related files
.env
.env.*

# Ignore GitLab data and config directories
config/
logs/
data/

# Ignore node_modules
node_modules/

# Ignore build and temp files
*.log
*.tmp
*.pid
*.lock
